export CLASSPATH=$CLASSPATH:~/etc/sandbox/algorithms/wordnet/:~/etc/sandbox/algorithms/lib/stdlib.jar:~/etc/sandbox/algorithms/lib/algs4.jar:~/etc/sandbox/algorithms/lib/junit-4.11.jar:~/etc/sandbox/algorithms/lib/hamcrest-core-1.3.jar
